.App-header {
  text-align: left;
  background-color: #222;
  color: white;
}

.App-header a {
  color: white;
}

.App-header h2 {
  margin: 0;
}

.App-header, .App-body {
  padding: 1em 2em;
}

.App-title {
  font-size: 2em;
  display: inline-block;
}
