.Comment {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0.6em;
    margin: 1em 0 1px;
}

.Comment-controls {
    float: right;
    cursor: pointer;
    user-select: none;
    font-size: 1.4em;
    font-weight: bold;
    font-family: monospace;
}

.Comment-head {
    margin-bottom: 0.6em;
}

.Comment-author {
    font-size: 1.2em;
    font-weight: 600;
}

.Comment-text {
    overflow-wrap: break-word;
}
