.Story {
    margin-bottom: 1em;
    padding: 0.6em;
    max-width: 42em;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #CCC;
    background: white;
}

.Story-score {
}

.Story-stats span {
    margin-right: 0.2em;
}

.Story-title {
    margin-bottom: 0.6em;
}

.group {
    display: inline-block;
    margin-right: 0.4em;
}
